<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
        <form (submit)= "submitLocation (cityName, countryCode)" >
          <div class="form-group">
            <input type="text" class="form-control" placeholder="City Name" #cityName>
          </div>
          <input type="text" class="form-control" placeholder="Country Code" #countryCode>
          <button class="btn btn-primary btn-block mt-2">Weather</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div *ngIf="weather" class="card card-body"> <!--El ngif indica que imprima la propiedad si hay datos-->
    <p>Temperatura:{{weather.main.temp}}
      Pais: {{weather.sys.country}}
    </p> <!--Si pongo weather solo no saldra nada, tengo que ser especifico, recorda los tda-->
  </div>
</div>
